<br>
<div class="container" style="margin-top: 7%">
  <div class="mt-4">
    <%= simple_form_for :quiz, url: answers_path do |f| %>
      <% @quizzes.each do |quiz| %>
        <%= f.input :"question[#{quiz.id}]", label: quiz.question, as: :radio_buttons, collection: (1..5).to_a.shuffle.map { |n| [quiz.send("answer_#{n}"), n] } %>
        <div>
          <% if current_user == quiz.course.user %>
            <p><%= link_to "Edite a questão", edit_quiz_path(quiz), class: "btn btn-primary" %></p>
            <% if policy(quiz).destroy? %>
              <p><%= link_to "Apagar questão", quiz_path(quiz), method: :delete, class: "btn btn-primary" %></p>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% unless current_user == @course.user %>
        <%= f.submit "Enviar", class: "btn btn-primary"%>
      <% end %>
    <% end %>
    <div>
      <% if current_user == @course.user %>
        <p><%= link_to "Crie uma nova questão", new_course_quiz_path(@course), class: "btn btn-primary" %></p>
      <% end %>
    </div>
  </div>
</div>
