<div class="container mt-5">
  <div class="d-flex justify-content-start">
    <h2 class="pt-5">Edit <%= resource_name.to_s.humanize %></h2>
  </div>
  
    
  <div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="form-row">
          <div class="form-group col-md-5">
            <%= f.input :name,
                        label: :Nome,
                        hint: "Deixe em branco se você não deseja editá-lo.",
                        required: false %>
          </div>
          <div class="form-group ml-5">
            <p>Você deseja alterar sua conta para professor?</p>
            <%= f.input :teacher,
                        label: :Professor,
                        hint: "Deixe em branco caso você seja um professor." %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-5">
            <%= f.input :cpf,
                        label: :CPF,
                        hint: "Deixe em branco se você não deseja corrigi-lo.",
                        required: false %>
          </div>
          <div class="form-group col-md-5">
            <%= f.input :occupation,
                        label: :Ocupação,
                        required: false %>
          </div>
          <div class="form-group col-md-5">  
            <%= f.input :email,
                        label: :Email, 
                        required: true, 
                        autofocus: true %>
          </div>
          <div class="form-group col-md-5">
            <%= f.input :phone,
                        label: :Telefone,
                        hint: "Deixe em branco se você não deseja editá-lo.",
                        required: false %>
          </div>
        </div>
        <div class="form-row">
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <div class="form-group col-md-5">
            <%= f.input :password,
                        hint: "Deixe em branco se você não deseja editá-lo.",
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="form-group col-md-5">
            <%= f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="form-group col-md-5">
            <%= f.input :current_password,
                        hint: "Precisamos de sua senha atual para confirmar suas alterações.",
                        required: true,
                        input_html: { autocomplete: "current-password" } %>
          </div>
        </div>
      </div>
      <div class="form-actions mb-3">
        <%= f.button :submit, "Update",  class: 'btn btn-primary' %>
        <%= link_to "Retornar", :back,  class: 'btn btn-primary' %>
        <%= link_to "Cancelar conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  
</div>
