<div class="container mt-5">
  <div class="d-flex justify-content-start">
    <h2 class="pt-5">Forgot your password?</h2>
  </div>

  <br>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Send me reset password instructions",  class: 'btn-primary' %>
      <%= render "devise/shared/links" %>
      <%= link_to "Homepage", root_path, class: "btn btn-secondary" %>
    </div>
  <% end %>

</div>
