<div id="wrapper" class="toggled">
      <!-- Sidebar -->
  <div id="sidebar-wrappers">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <%= link_to "EduQuebrada", root_path, class: "nav-link" %>
      </li>
      <li>
        <%= link_to "Cursos", courses_path, class: "nav-link" %> 
      </li>
      <li>
        <%= link_to "Aulas", "root_path", class: "nav-link" %> 
      </li>
      <li>
        <%= link_to "Seja um professor", new_course_path, class: "nav-link" %>
      </li>
      <li>
        <%= link_to "Eventos", "root_path", class: "nav-link" %>
      </li>
      <li>
        <%= link_to "Conheça o EduQuebrada", "root_path", class: "nav-link" %>
      </li>
      <li>
        <%= link_to "Fale conosco", "root_path", class: "nav-link" %>
      </li>
    </ul>
  </div>
<!-- /#sidebar-wrapper -->
        <!-- Page Content -->
  <div id="page-content-wrappers">
      <div class="container-fluids">
        <button id="menu-toggle" class="btn btn-secondary toggled"><i id="toggleIcon" class="fa fa-angle-double-down"></i>
          Menu <i class="fa fa-filter"></i>
        </button>                
      </div>
  </div>
        <!-- /#page-content-wrapper -->
</div>
    <!-- /#wrapper -->
