<%= render 'shared/sidebar' %>
<%= render 'shared/banner' %>
<div class="container">
  <%= render 'shared/guide' %>
  <%= render 'shared/cardscarousel' %>
  <div class="d-flex justify-content-start conteudo" >
    <%= image_tag 'teacher_banner.jpg', class: "img-mid-banner mr-5" %>
    <div>
      <h3 class="border-bottom">Venha ser um professor no<br> EduQuebrada <i class="fas fa-chalkboard-teacher"></i></h3>
      <h4> No EduQuebrada você pode transmitir seu conhecimento criando seu curso para pessoas aprenderem
          de qualquer lugar. Ao final do curso, poderá aplicar um teste para garantir o aprendizado do seu
          aluno e certifica-lo.<br>
          Transforme a vida de pessoas, seja um professor no EduQuebrada!
      </h4>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
