<%= render 'shared/sidebar' %>
<%= render 'shared/banner' %>
<div class="container">
  <%= render 'shared/guide' %>
  <%= render 'shared/cardscarousel' %>
  <%= image_tag 'teacher_banner.jpg', class: "img-mid-banner" %>
</div>
<%= render 'shared/footer' %>
