<h1 class="mt-4">Edit Lesson</h1>

<% if policy(@lesson).edit? %>
  <%= simple_form_for(@lesson) do |f| %>
    <%= f.input :name %>
    <%= f.input :chapter %>
    <%= f.input :description %>
    <%= f.input :url %>
    <%= f.submit 'Update Course', class: 'btn btn-primary' %>
  <% end %>
<% end %>
<div>
  <%= link_to "Back to course", course_path, class: "btn btn-primary" %>
</div>