<div class="container mt-5">
  <div class="d-flex justify-content-start">
    <h1 class="pt-5">Criar aula</h1>
  </div>
  
  <br>

  <div>
    <%= simple_form_for [@course, @lesson] do |f| %>
      <%= f.input :name, label: :Nome %>
      <%= f.input :chapter, label: :Capítulo %>
      <%= f.input :description, label: :Descrição %>
      <%= f.input :url %>
      <%= f.submit 'Criar', class: 'btn btn-primary' %>
      <%= link_to "Retorne ao curso", course_path(@course), class: "btn btn-secondary" %>
    <% end %>
  </div>

</div>
