<div class="container mt-4 pb-5 pt-5">

  <br>

  <div class="lesson-page pt-5">
    <div>
      <div>
        <iframe width="100%" height="400" src="<%= @lesson.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <div class="lesson-description">
      <% if policy(@lesson).create? %>
        <h2 class="border-bottom"><%= @lesson.name %></h2>
        <h4 class="border-bottom pt-2">Teacher:</h4>
        <p><%= @lesson.course.user.name %></p>
        <h4 class="border-bottom">Description</h4>
        <p><%= @lesson.description %></p>
      <% end %>
    </div>

    <div>
      <div class="w-100">
        <%= simple_form_for([ @lesson, @comment ], url: lesson_comments_path(@lesson), remote: true) do |f| %>
          <div class="row ml-0">
            <div style="width: 80%">
              <%= f.input :content, as: :text, placeholder: "Teve alguma dúvida sobre o conteúdo da aula? Deixe aqui sua dúvida!", label: false, class: "w-100" %>
            </div>
            <div class="">
              <%= f.submit "Comentar", class: "btn btn-primary btn-block", style: "padding: 18px; margin-left: 7px;" %>
            </div>
          </div>
        <% end %>
      </div>
      <h4 class="mt-2">
        <%= pluralize @lesson.comments.size, "comentário" %>
      </h4>
      <div id="comments">
        <% if @lesson.comments.blank? %>
          Seja o primeiro a deixar um comentário.
        <% else %>
          <% @lesson.comments.each do |comment| %>
            <details>
              <summary class="border-bottom my-3 mx-3 d-flex align-items-center">
                <span id="comment-<%= comment.id %>"><strong><%= comment.user.name %>:</strong> <%= comment.content %></span>
              </summary>
              <div id="replies">
                <% if comment.replies.blank? %>
                  <%= simple_form_for([ comment, @reply ], remote: true) do |f| %>
                    <%= f.input :content, as: :text, placeholder: "Deixe uma resposta!", label: false  %>
                    <%= f.submit "Responder", class: "btn btn-primary" %>
                  <% end %>
                <% else %>
                  <% comment.replies.each do |reply| %>
                    <p id="reply-<%= reply.id %>" class="border-bottom my-3 mx-3 d-flex align-items-center"><strong><%= reply.user.name %>: </strong> <%= reply.content %></p>
                  <% end %>
                  <%= simple_form_for([ comment, @reply ], remote: true) do |f| %>
                    <div class="justify-content-center">
                      <%= f.input :content, as: :text, placeholder: "Deixe uma resposta!", label: false %>
                      <%= f.submit "Responder", class: "btn btn-primary" %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </details>
          <% end %>
        <% end %>
      </div>
    </div>

    <div>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action d-flex justify-content-between">
          <div><%= link_to "Voltar ao curso", course_path(@lesson.course) %></div>
          <div><i class="fas fa-arrow-alt-circle-left"></i></div>
        </li>
        <% @lessons.each do |lesson| %>
          <li class="list-group-item list-group-item-action d-flex justify-content-between">
            <div><%= link_to lesson.name, lesson_path(lesson) %></div>
            <div><i class="fas fa-arrow-alt-circle-right"></i></div>
          </li>
        <% end %>
      </ul>
      <br>
      <% if current_user == @lesson.course.user %>
        <div class="align-self-end mr-3 d-flex">
          <div class="justify-content-between">
            <%= link_to "Editar aula", edit_lesson_path, class: "btn btn-primary" %>
            <% if policy(@lesson).destroy? %>
              <%= link_to "Deletar aula", lesson_path(@lesson), method: :delete, class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

