<div class="container mt-5">
  <div class="d-flex justify-content-start">
    <h1 class="pt-5">Editar Informações do Curso</h1>
  </div>
    
  <br>

  <div>
    <% if policy(@course).edit? %>
      <%= simple_form_for(@course) do |f| %>
        <%= f.input :category %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :url %>
        <%= f.input :photo, as: :file %>
        <%= f.submit 'Atualização', class: 'btn btn-primary' %>
        <%= link_to "Retornar aos cursos", course_path(@course), class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>

</div>
