<div>
  <div class="mt-4">
    <h1>Relação de Cursos Disponíveis</h1>
  </div>
  <br>
  <div class="row">
    <% if @courses.present? %>
      <% @courses.each do |course| %>
        <div class="col-6">
          <div>
            <h1><%= course.name %></h1>
            <p><strong>Category:</strong> <%= course.category %></p>
            <p><strong>Creator:</strong> <%= course.user.name %></p>
            <p><strong>Description:</strong> <%= course.description %></p>
            <p><%= link_to "Cursos Detalhados", course_path(course), class: "btn btn-primary" %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
    <br>
    <div>
      <%= link_to "Crie um novo curso", new_course_path, class: "btn btn-secondary" %>
    </div>
</div>
