<%= render 'shared/sidebar2' %>
<div class="container mt-4">
  <div class="container pt-5">
    <div class="d-flex justify-content-center">
      <h2 class="mt-5">Cursos Disponíveis</h2>
    </div>
  </div>
  <br>
  <%= render 'shared/filterbar' %>
  <div>
    <%= link_to "Crie um novo curso", new_course_path, class: "btn btn-secondary" %>
  </div>
  <br>
  <div>
    <% if @courses.present? %>
      <% @courses.each do |course| %>
          <div class="card-products mb-4">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-products-infos">
              <h2><%= course.name %></h2>
              <p><strong>Categoria:</strong> <%= course.category %></p>
              <p><strong>Professor:</strong> <%= course.user.name %></p>
              <p><%= link_to "Detalhes", course_path(course), class: "btn btn-primary" %></p>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
