<div>
  <div class="mt-4">
    <h1>All courses</h1>
  </div>
  <br>
  <div class="row">
    <% @courses.each do |course| %>
      <% unless course.sold %>
        <div class="col-6">
          <div>
            <div>
              <h1><%= course.name %></h1>
              <p><strong>Category:</strong> <%= course.category %></p>
              <p><strong>Creator:</strong> <%= course.user.name %></p>
              <p><strong>Description:</strong> <%= course.description %></p>
              <p><%= link_to "See course's details", course_path(course), class: "btn btn-primary" %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <br>
  <div>
    <%= link_to "Create a new course", new_course_path, class: "btn btn-secondary" %>
  </div>
</div>
