<div class="container">

  <h1 class="mt-4">Criar Novo Curso</h1>

  <br>

  <div>
    <%= simple_form_for(@course) do |f| %>
      <%= f.input :name %>
      <%= f.input :category %>
      <%= f.input :description %>
      <%= f.input :url %>
      <%= f.submit 'Criar', class: 'btn-primary' %>
    <% end %>
  </div>

  <br>

  <div>
    <%= link_to "Retorne para os cursos", courses_path, class: "btn btn-primary" %>
  </div>

</div>
