<div class="container mt-5">
  <div class="d-flex justify-content-start">
    <h1 class="pt-5">Criar Novo Curso</h1>
  </div>

  <br>

  <div>
    <%= simple_form_for(@course) do |f| %>
      <%= f.input :name, label: :Nome %>
      <%= f.input :category, label: :Categoria %>
      <%= f.input :description, label: :Descrição %>
      <%= f.input :url %>
      <%= f.input :photo, as: :file %>
      <div class="mb-5">
        <%= f.submit 'Criar', class: 'btn btn-primary' %>
        <%= link_to "Retorne aos cursos", courses_path, class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
  
</div>
