<h1><%= @course.name %></h1>

<br>

<div>
  <div>
    <iframe width="560" height="315" src="<%= @course.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div>
    <% if policy(Course).create? %>
      <%= @course.name %>
      <%= @course.category %>
      <%= @course.description %>
    <% end %>
  </div>

  <div class="align-self-end mr-3">
    <% if current_user == @course.user %>
      <div>
        <p><%= link_to "Edit course", edit_course_path, class: "btn btn-primary" %></p>
        <% if policy(@course).destroy? %>
          <p><%= link_to "Delete", course_path(@course), method: :delete, class: "btn btn-primary" %></p>
        <% end %>
        <p><%= link_to "Go to first lesson", course_lesson_path(@lesson), class: "btn btn-primary" %></p>
        <p><%= link_to "Back to courses", courses_path, class: "btn btn-primary" %></p>
      </div>
    <% else %>
      <p><%= link_to "Go to first lesson", course_lesson_path(@lesson), class: "btn btn-primary" %></p>
      <p><%= link_to "Back to courses", courses_path, class: "btn btn-primary" %></p>
    <% end %>
  </div>
</div>
