<h1>Show_Course</h1>

<br>

<div>
  <div>
    <% if policy(Course).create? %>
        <%= @course.name %>
        <%= @course.category %>
        <%= @course.description %>
    <div>
      <div>
        <%= link_to "New course", new_course_path %>
        <%= link_to "Back to all", courses_path, class: "btn btn-primary" %>
      </div>
    </div>
<% end %>

